DZ3_SOAP_WSDL-02-master/DZ3_SOAP_WSDL-02/Connected Services/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSquare">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSquareResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetSquareResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="konverzijaBAMToEUR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="bam" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="konverzijaBAMToEURResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="konverzijaBAMToEURResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="konverzijaEURToBAM">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="eur" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="konverzijaEURToBAMResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="konverzijaEURToBAMResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetSquareSoapIn">
    <wsdl:part name="parameters" element="tns:GetSquare" />
  </wsdl:message>
  <wsdl:message name="GetSquareSoapOut">
    <wsdl:part name="parameters" element="tns:GetSquareResponse" />
  </wsdl:message>
  <wsdl:message name="konverzijaBAMToEURSoapIn">
    <wsdl:part name="parameters" element="tns:konverzijaBAMToEUR" />
  </wsdl:message>
  <wsdl:message name="konverzijaBAMToEURSoapOut">
    <wsdl:part name="parameters" element="tns:konverzijaBAMToEURResponse" />
  </wsdl:message>
  <wsdl:message name="konverzijaEURToBAMSoapIn">
    <wsdl:part name="parameters" element="tns:konverzijaEURToBAM" />
  </wsdl:message>
  <wsdl:message name="konverzijaEURToBAMSoapOut">
    <wsdl:part name="parameters" element="tns:konverzijaEURToBAMResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSquare">
      <wsdl:input message="tns:GetSquareSoapIn" />
      <wsdl:output message="tns:GetSquareSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="konverzijaBAMToEUR">
      <wsdl:input message="tns:konverzijaBAMToEURSoapIn" />
      <wsdl:output message="tns:konverzijaBAMToEURSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="konverzijaEURToBAM">
      <wsdl:input message="tns:konverzijaEURToBAMSoapIn" />
      <wsdl:output message="tns:konverzijaEURToBAMSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSquare">
      <soap:operation soapAction="http://tempuri.org/GetSquare" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="konverzijaBAMToEUR">
      <soap:operation soapAction="http://tempuri.org/konverzijaBAMToEUR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="konverzijaEURToBAM">
      <soap:operation soapAction="http://tempuri.org/konverzijaEURToBAM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSquare">
      <soap12:operation soapAction="http://tempuri.org/GetSquare" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="konverzijaBAMToEUR">
      <soap12:operation soapAction="http://tempuri.org/konverzijaBAMToEUR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="konverzijaEURToBAM">
      <soap12:operation soapAction="http://tempuri.org/konverzijaEURToBAM" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44338/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44338/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>